<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538751272855-imimk1ud30pp5bbsq6vvi15275ak9bi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538751272855-imimk1ud30pp5bbsq6vvi15275ak9bi5</string>
	<key>API_KEY</key>
	<string>AIzaSyAWKe0d8dDzJVmPWFwGOspMl-wA9q55_KA</string>
	<key>GCM_SENDER_ID</key>
	<string>538751272855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logif</string>
	<key>PROJECT_ID</key>
	<string>logif-tcc</string>
	<key>STORAGE_BUCKET</key>
	<string>logif-tcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538751272855:ios:108b34da55ee8bf7f7a6d2</string>
</dict>
</plist>